<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chencj.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecycleViewActivity" />
        <activity android:name=".hook.HookActivity" />
        <activity android:name=".hook.RegisterActivity" />
        <activity android:name=".flow.FlowActivity" />
        <activity android:name=".surfacefling.SurfaceDemoActivity" />
        <activity android:name=".charts.ChartDemoActivity" />
        <activity android:name=".charts.LinearChartDemoActivity" />
        <activity android:name=".charts.SpeedChartDemoActivity" />
        <activity android:name=".charts.AboutActivity" />
        <activity android:name=".charts.TempoChartDemoActivity" />
        <activity android:name=".mpcharts.ChartsDemo1Activity" />
        <activity android:name=".activity.EmptyActivity" />
        <activity android:name=".photo_view_url_database.photo.PhotoActivity" />
        <activity android:name=".lunbo.BigImgActivity" />
        <activity android:name=".lunbo.LunBoPhotoActivity" />
        <activity android:name=".multiprocess.FirstActivity"
            ></activity>
        <activity android:name=".multiprocess.SecondActivity"
            android:process="com.process.self2"
            ></activity>
        <activity android:name=".slide.DemoActivity" />
        <activity android:name=".video.Video1Activity" />
        <activity android:name=".mvp.activity.MVPActivity" />
        <activity android:name=".fix.FixActivity" />
        <activity android:name=".bezier.BezierActivity" />

        <provider
            android:authorities="com.example.chencj.myapplication.multiprocess"
            android:name=".multiprocess.provider.MultiProcessProvider"
            />
    </application>

</manifest>